.about-me {
  background-color: #ebfef5;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #384b42;
  box-sizing: border-box;
  padding: 100px;
}

h4 {
  margin: 0 auto;
  color: #384b42;
  width: 80%;
  white-space: pre-wrap;
  padding-bottom: 10px;
}

@media (max-width: 1550px) {
  .timeline {
    display: none;
  }
}
